<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_EduHub_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_EduHub_Project.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_EduHub_Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Course" asp-action="MyCourse">MyCourses</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link active" asp-controller="Course" asp-action="MyCourse"
                                asp-route-id="@TempData["EducatorId"]">MyCourses</a>
                        </li> *@
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Course" asp-action="AllCourse">AllCourses</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link" asp-controller="Course" asp-action="NewMaterial">New Material</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Enquiry" asp-action="EnquiryList">Enquiry List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Enrollment" asp-action="GetEnrollCourse">EnrollCourses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Feedback" asp-action="GetFeedback">FeedbackForMyCourses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="LogOut">LogOut</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link">@TempData["Educator"]</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @{
                var errorMessage = TempData["errormsg"]?.ToString();
                var successMessage = TempData["successmsg"]?.ToString();
            }
            @if (!string.IsNullOrWhiteSpace(@successMessage))
            {
                <div class="alert alert-success">
                    <b>
                        Success: <b>
                            @successMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="close"
                                value="ok"></button>
                </div>

            }

            else if (!string.IsNullOrWhiteSpace(@errorMessage))
            {
                <div class="alert alert-danger">
                    <b>
                        Error :<b>
                            @errorMessage
                        </b>
                        <button type="button" class="btn-cloase float-end" data-bs-dismiss="alert" aria-label="Close"
                            value="Ok"></button>


                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
            &copy; 2024 - MVC_EduHub_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
