@model MVC_EduHub_Project.Models.Feedback

@{
    ViewData["Title"] = "Give FeedBack";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1 class="text-center text-primary mb-4">Give Feedback For Course</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="AddFeedback" class="bg-light p-4 rounded shadow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="feedback" class="control-label"></label>
                    <input asp-for="feedback" class="form-control" placeholder="Enter your feedback" />
                    <span asp-validation-for="feedback" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" type="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                    <br>
                <div class="form-group text-center">
                    <input type="submit" value="Submit" class="btn btn-success btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-controller="Course" asp-action="MycoursesStatusAccepted" class="btn btn-secondary">Back to Course</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
