@model MVC_EduHub_Project.Models.Material

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
}

<h2 class="text-center text-primary">Update Material</h2>

<hr class="my-4" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" class="bg-light p-4 rounded shadow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="URL" class="control-label"></label>
                    <input asp-for="URL" class="form-control" placeholder="Enter URL" />
                    <span asp-validation-for="URL" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UploadDate" class="control-label"></label>
                    <input asp-for="UploadDate" class="form-control" type="date" />
                    <span asp-validation-for="UploadDate" class="text-danger"></span>
                </div>

                @* <div class="form-group">
                    <label asp-for="ContentType" class="control-label"></label>
                    <input asp-for="ContentType" class="form-control" placeholder="Enter Content Type" />
                    <span asp-validation-for="ContentType" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="ContentType" class="control-label"></label>
                    @* <input asp-for="Role" class="form-control"  
                    /> *@
                    <select asp-for="ContentType" class="form-control" asp-items="@ViewBag.contenttype ">
                        <option value="">Choose Content</option>
                    </select>
                    <span asp-validation-for="ContentType" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success btn" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center ">
    <a asp-controller="Material" asp-action="GetMaterialByCourseId" asp-route-id=@Model.CourseId
        class="btn btn-secondary">Back to Material</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
