@{
    ViewData["Title"] = "Home Page";
}

<div class="container  align-items-center justify-content-center vh-100">
    <h1 class="display-4 mb-4">Welcome EduHub_Project</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/assests/images/Login.png" alt="login page" height="400px" width="700px"/>
</div>