@model MVC_EduHub_Project.Models.Enrollment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1 class="text-center">Add New Enrollment</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="AddEnrollment" class="border p-4 rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control"   />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>

            <div class="form-group"> 

                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span> 

            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <div >
            <a class="btn btn-secondary"  asp-controller="Course" asp-action="AllCourses">Back to Courses</a>
        </div>
    </div>
</div> 



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}