@model MVC_EduHub_Project.Models.Enquiry

@{
    ViewData["Title"] = "Create";
}

<h2 class=" text-center justify-content-center">Add New Enquiry </h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddEnquiry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="EnquiryId" class="control-label"></label>
                <input asp-for="EnquiryId" class="form-control" />
                <span asp-validation-for="EnquiryId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnquiryDate" class="control-label"></label>
                <input asp-for="EnquiryDate" class="form-control" disabled />
                <span asp-validation-for="EnquiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control"  />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div> *@
            <br>
            <div class="form-group text-center">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div class="text-center">
    <a class="btn btn-secondary "  asp-controller="Course" asp-action="AllCourses">Back to Courses</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
