@model MVC_EduHub_Project.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseStartDate" class="control-label"></label>
                <input asp-for="courseStartDate" class="form-control" />
                <span asp-validation-for="courseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseEndDate" class="control-label"></label>
                <input asp-for="courseEndDate" class="form-control" />
                <span asp-validation-for="courseEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level" class="control-label"></label>
                <select asp-for="level" class="form-control" asp-items="@ViewBag.level ">
                    <option value="">Choose Level</option>
                </select>
                <span asp-validation-for="level" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Course" asp-action="MyCourse">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
